.login_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: '';
        width: 100%;
        height: 70vh;
        z-index: -1000;
        // background: linear-gradient(160deg, #2269d1 0%, #AA7ECD 100%);
        background-color: #2269d1;
        transform-origin: left bottom;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: skew(0deg, -15deg);
        -moz-transform: skew(0deg, -15deg);
        -ms-transform: skew(0deg, -15deg);
        -o-transform: skew(0deg, -15deg);
        transform: skew(0deg, -15deg)
    }
    .login_box {
        height: 550px;
        width: 50%;
        margin: 0 auto;
        padding: 0;
        background-color: #fafafa;
        display: table;
        box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
        // border: 1px solid #ebebeb;
        .l_col,
        .r_col {
            width: 50%;
            display: table-cell;
            padding: 30px;
        }
        .r_col {
            background-color: #263238;
        }
    }
}

.title_h3 {
    font-size: 24px;
    font-weight: 400;
}