<aside class="sidebar">
    <div class="sidebar_header">
        <h1>oxswot</h1>
    </div>
    <div class="sidebar_content">
        <ul class="sidebar_lists">
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE88A;</i>Home</a>
            </li>
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE873;</i>Doc</a>
            </li>
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE873;</i>Sheets</a>
            </li>
            <li class="sidebar_lists_item">
                <a [routerLink]="['/login']" class="sidebar_item_link"><i class="material-icons">&#xE873;</i>login</a>
            </li>
        </ul>
        <ul class="sidebar_lists">
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE3E4;</i>Sittings</a>
            </li>
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE887;</i>Help & Feedback</a>
            </li>

        </ul>
        <ul class="sidebar_lists">
            <li class="sidebar_lists_item">
                <a href="/" class="sidebar_item_link"><i class="material-icons">&#xE5D5;</i>Log Out</a>
            </li>

        </ul>
    </div>
</aside>