<div class="oxswot_section">
    <div class="oxswot_container ">
        <div class="form_container mh_550">
            <div class="tbl_col tbl_col_1of2">
                <div class="form_content">
                    <h3>Sign up for a free 30 day trial</h3>
                    <p>Already have a QuickBooks Online account?<a href="">have another company*</a></p>
                    <div class="form_groups">
                        <label for="">Email Address <span>(User ID)</span></label>
                        <input type="email" name="" value="">
                    </div>
                    <div class="form_groups">
                        <label for="">First Name</label>
                        <input type="text" name="" value="">
                    </div>
                    <div class="form_groups">
                        <label for="">Last Name</label>
                        <input type="text" name="" value="">
                    </div>
                    <div class="form_groups">
                        <label for="">Password</label>
                        <input type="password" name="" value="">
                    </div>
                    <div class="form_groups">
                        <label for="">Confirm Password</label>
                        <input type="password" name="" value="">
                    </div>
                    <div class="form_groups">
                        <button type="submit" md-button class="rgs_btn">Start your free now</button>
                        <p>By signing up, you agree to the <a href="">Terms of Service.</a></p>

                    </div>
                </div>
            </div>
            <div class="tbl_col tbl_col_1of2 desc_form">
                <div class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam!
                </div>
            </div>
        </div>
    </div>
</div>